* {
    /*outline: 1px solid rgba(255,0,0,0.4);*/
}

body {
    background: url(img/descarga.jpg) center center;
    font-family: 'Viga', sans-serif;
    color:#fff;
}
.big {
    color:#00c9e3;
    font-size: 30px;
    padding: 6%;
}
.big span {
    color:#fff;
}
.fondito {
    background: rgba(0,0,0,0.5);
}
.title {
    color:#00c9e3;
    font-weight: bold;
}
.opaco {
    background: rgba(0,0,0,0.5);
    padding: 2%;
}
.color {
    text-decoration: none;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.6);
    padding: 1% 2%;
}
.color:hover {
    text-decoration: none;
    background: rgba(10, 162, 208, 0.6);
    color:#fff;
}
